body, html {
    background-color: #fffffff;
}
* {
    /* border:1px solid rgba(0, 0, 0, 1); */
    font-family: 微軟正黑體;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}
section, nav {
    width: 100%;
}
section {
    /* position: relative;
    top: 60px;
    padding-top: 140px;
    height: 630px; */
}
a {
    text-decoration: none;
    font-size: 18px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
p {
    font-size: 18px;
}
/* TOP鍵 */
#top {
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
}
#top:hover {
    background-color: #fff;
    color: rgba(70, 220, 255, 1);
}
/* 導覽列 */
nav {
    background-color: rgba(25, 175, 175, 1);
    height: 71px;
    position: fixed;
    top: 0px;
    text-align: center;
}
/* welcome */
nav div {
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    width: 300px;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    text-align: center;
}
nav a {
    color: white;
}
nav a, div {
    vertical-align: center;
    margin: 0px 50px;
}
/* 首頁 home */
#home {
    background-image: url(https://images3.alphacoders.com/391/thumb-1920-3915.jpg);
    background-size: cover;
    background-position: 0% 95%;
    padding-top: 180px;
    height: 600px;
    text-align: center;
}
#home div{
    display: inline-block;
    width: 30%;
    text-align: center;
}
#home h1, h2, p {
    margin-top: 20px;
    text-align: left;
    color: #fff;
}
#home h2, p {
    text-indent: 20px;
}
#home a {
    margin-top: 60px;
    display: inline-block;
    padding: 10px 50px;
    color: #fff;
    background-color: rgba(70, 220, 255, 0.5);
    border-radius: 10px;
    border: 2px solid #fff;
}
#home a:hover {
    background-color: #fff;
    color: rgba(70, 220, 255, 1);
}
/* 關於 about */
#about {
    /* background-color:  rgba(240, 60, 55, 1); */
}
/* 產品 products */
#products {
    /* background-color:  rgba(250, 160, 45, 1): */
}
#products div img {
    width: 300px;
}
#products div {
    display: inline-block;
    width: 300px;
    height: 600px;
}