body, html {
    background: linear-gradient(to bottom, #91CB38, #19AFAF); 
}
* {
    /* border:1px solid rgba(255, 0, 0, 0.6); */
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 0;
}
section, nav {
    width: 100%;
}
a {
    text-decoration: none;
    font-size: 18px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
p {
    font-size: 18px;
}
/* TOP鍵 */
#top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: inline-block;
    padding: 15px;
    color: #fff;
    text-align: center;
}
/* 導覽列 */
nav {
    background-color: rgba(25, 175, 175, 1);
    height: 71px;
    position: fixed;
    top: 0px;
    text-align: center;
}
/* welcome */
nav div {
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    width: 300px;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    text-align: center;
}
nav a, div {
    vertical-align: center;
    margin: 0px 50px;
}
nav a {
    display: inline-block;
    line-height: 30px;
}
nav a:hover {
    border-bottom: 2px solid #fff;
}
/* 首頁 home */
#home {
    background-image: url(https://images3.alphacoders.com/391/thumb-1920-3915.jpg);
    background-size: cover;
    background-position: 0% 95%;
    padding-top: 180px;
    height: 600px;
    text-align: center;
}
#home div{
    display: inline-block;
    width: 30%;
}
#home h1, h2, p {
    margin-top: 20px;
    text-align: left;
}
#home a {
    margin-top: 60px;
    display: inline-block;
    padding: 10px 50px;
    background-color: rgba(70, 220, 255, 0.5);
    border-radius: 10px;
    border: 2px solid #fff;
}
#home a:hover {
    background-color: #fff;
    color: rgba(70, 220, 255, 1);
}
/* 關於 about */
#about {
    padding: 150px 0 90px;
    /* border-bottom: 2px solid #fff; */
}
#about #boxo {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #fff;
}
#about #boxi {
    width: 50%;
    display: inline-block;
    vertical-align: 20px;
}
#about img {
    width: 40%;
    margin: 5px;
}
#about h1 {
    border-bottom: 2px solid #fff;
    text-indent: 10px;
}
#about p {
    margin-left: 20px;
    text-align: justify;
}
/* 產品 products */
#products {
    /* background-color: rgba(255, 255, 255, 1); */
    margin: 0 auto;
    padding: 110px 0 90px;
    width: 100%;
    text-align: center;
}
#products h1 {
    display: inline-block;
    width: 800px;
    border-bottom: 2px solid #fff;
    margin-bottom: 60px;
}
#products img {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
}
#products .kind {
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: 300px;
    height: 410px;
    padding: 15px;
}
#products h2 {
    line-height: 40px;
    margin: 15px 0;
    border-bottom: 2px solid #fff;
    text-indent: 10px;
}
#products p {
    text-align: justify;
}
/* 分店 location */
#location {
    margin: 0 auto;
    padding: 120px 0 80px;
    width: 1024px;
}
#location div {
    padding: 0;
    margin: 0;
    display: inline-block;
}
#location h1 {
    border-bottom: 2px solid #fff;
    width: 800px;
    text-align: center;
    margin: 0 auto 50px;
}
#location h2 {
    margin: 20px 0 0;
    background-image: url(https://picsum.photos/id/101/200/200);
    display: inline-block;
    height: 200px;
    width: 200px;
}
#location p {
    margin: 0;
    display: inline-block;
    width: 300px;
    vertical-align: bottom;
}
/* 聯絡資訊 contact */
#contact {
    margin: 0 auto;
    padding: 120px 0 60px;
    width: 1110px;
}
#contact h1{
    margin: 0 0 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #fff; 
}
#contact a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    border: 2px solid #fff;
    padding: 60px;
    margin: 60px;
}
#contact a:hover{
    background-color: rgba(255, 255, 255, 1);
}
#contact img {
    width: 120px;
}
/* footer */
footer {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    line-height: 80px;
}